<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">
    </head>
    <title>Home Page</title>

    <body>
    <div class="head1"><h2>Student Records</h2></div>
        <ul>
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/addnew">Add A Student</a></li>
            <li><a href="/updatenew">Update Student Info</a></li>
            <li><a href="/deletenew">Remove Student</a></li>
            <li><a href="/searchstudent">Search Records</a></li>
            <li><a href="/studentlist">Student Records</a></li>
            <li><a href="/addcourse">Add A Course</a></li>
            <li><a href="/updatecourse">Update Course Info</a></li>
            <li><a href="/deletecourse">Delete Course</a></li>
            <li><a href="/courselist">Course Records</a></li>
        </ul>
        <div class="par">
        <p></p>
        </div>
    </body>
</html>