<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/style.css">
        <link rel="shortcut icon" href="{{ url_for('static', filename='buddy.ico') }}" type="image/x-icon">

    </head>
    <title>Update Student</title>
    <a href="/">Go back to home page</a>
    <body>
        <div class="form">
        <form action="{{ url_for('updaterec') }}" method="POST">
            <h2>Update Info</h2>
            ID number<br>
            <input class="form-control" type="text" name = "id" required minlength="9" maxlength="9" oninvalid="this.setCustomValidity('Enter valid ID')" oninput="setCustomValidity('')"/><br>

            First Name<br>
            <input class="form-control" type="text" name = "fn" required minlength="4" oninvalid="this.setCustomValidity('Minimum of 5 characters')" oninput="setCustomValidity('')"/><br>

            Middle Name<br>
            <input class="form-control" type="text" name = "mn" required minlength="4" oninvalid="this.setCustomValidity('Minimum of 5 characters')" oninput="setCustomValidity('')"/><br>

            Last Name<br>
            <input class="form-control" type="text" name = "ln" required minlength="2" oninvalid="this.setCustomValidity('Minimum of 2 characters')" oninput="setCustomValidity('')"/><br>

            Sex<br>
            <input class="form-control" type="text" name = "sex" required minlength="4" maxlength="6"/><br>

            Course ID<br>
            <input class="form-control" type="text" name = "cid" required minlength="1" maxlength="2" oninvalid="this.setCustomValidity('Do not leave blank')" oninput="setCustomValidity('')"/><br><br>

            <input class="btn btn-success" type="submit" value="Update"/><br><br>
            <input class="btn btn-primary" type="button" value="Back" onclick="window.location.href='/'">
        </form>
        </div>

    </body>
</html>